<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <link rel="icon" href="{{url_for('static', filename='icon.png')}}">

        <title> Ghost Writer </title>

        <!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	</head>
	
	<body>
		<style>
			.jumbotron{width: 80%;
					position: absolute;
					margin: auto;
					top: 0;
					left: 0;
					right: 0;}
		</style>
		<div class="jumbotron container-fluid">
			<div class="container text-center container-fluid">
			  <h1 class="display-3">Ghost Writer</h1>
			  <p class="lead">A simple, elegant markov chain-based rap/hip-hop lyrics generator. Created by parsing Rap Genius.</p>
			  <hr class="my-4">
			  {% for lyric in generated.lyrics %} 
			  <p> {{ lyric }}</p>
			  {% endfor %}
			  <p class="lead">
			    <a class="btn btn-danger btn-lg" href="#" role="button" onclick="window.location.reload()">Generate Rap!</a>
			  </p>
			<div>		  
		</div>

		<audio controls>
			<source src="{{url_for('static', filename='ultimate_rap.mp3')}}" type="audio/mp3">
		</audio>

		<!--
		<div class="footer-copyright py-3 text-center">
              <div class="container-fluid">
                  © 2018 Copyright: Matthew Bass, Kai Fleischman, Michael Lobsenz, Jonathon Martin, Arvind Raghavan
      
              </div>
         </div>
		-->

		<!-- jQuery first, then Tether, then Bootstrap JS. -->
	    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

	</body>
</html>
